.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


#bookdetails{
  position:fixed;
  bottom:215px;
  left:460px;
}


#blogdetails{
  position:fixed;
  left:740px;
  bottom:180px;
}


#coursedetails{
  position:fixed;
  left:210px;
}


#container1{
  position:relative;
  left:425px;
  height:350px;
  width:5px;
  top:15px;
  background-color: darkgreen;
}


#container2{
  position:fixed;
  left:685px;
  height:350px;
  width:5px;
  top:15px;
  background-color: darkgreen;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



